<% if current_user.nil? %>
  <h4>Prolendo</h4>
  <p>Application for managing investment options<br/>
    <a class="btn btn-sm btn-info" style="color:white" href="/users/sign_up?signup=banker"><span>sign up here</span></a><br/>
    if you are a banker.<br/>
    <a class="btn btn-sm btn-info" style="color:white" href="/users/sign_up?signup=investor"><span>sign up here</span></a><br/>
    if you are an investor
  </p>
<% else %>
  <%= timeline [
                   ["Washington", "1789-04-29", "1797-03-03"],
                   ["Adams", "1797-03-03", "1801-03-03"],
                   ["Jefferson", "1801-03-03", "1809-03-03"]
               ] %>
<% end %>
