<div class="task_list row"></div>

<a href="#" class="btn btn-primary col-xs-12 col-md-4 mt-2" id="new_task">New Task</a>

<div class="modal fade" id="task_editor" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>