<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title col-10">Task Editor</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <input type="hidden" name="id" value="{{task.attributes.id}}">
        <div class="form-group form-check">
          <label class="col-form-label">Start Time</label>
          <div class="col-10 p-0">
            <input type="date" name="start_time" required value="{{datepickerDate task.attributes.start_time}}">
          </div>
        </div>
        <div class="form-group form-check">
          <label class="col-form-label">End Time</label>
          <div class="col-10 p-0">
            <input type="date" name="end_time" required value="{{datepickerDate task.attributes.end_time}}">
          </div>
        </div>
        <div class="form-group form-check">
          <label class="col-form-label">Description</label>
          <textarea class="form-control" rows="3" required name="description">{{task.attributes.description}}</textarea>
        </div>
        <div class="form-group form-check">
          <p class="alert alert-danger mt-2 errors"></p>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>