<!--
  Navbar in case the user already logged in
-->

<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a href="#" class="nav-link">Settings</a>
  </li>
  <li class="nav-item">
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
  </li>
</ul>