<ul class="col-2 sidebar">
  <li>
    <a href="#">
      Overview
    </a>
  </li>
  <li>
    <a href="#">
      Investment Options
    </a>
  </li>
  <li>
    <a href="#">
      Current Investments
    </a>
  </li>
  <li>
    <a href="#">
      Deposit Withdraw
    </a>
  </li>
  <li>
    <a href="#">
      Settings
    </a>
  </li>
</ul>